<h1>Projects</h1>
<div class="container">
  <% @projects.each do |project| %>
  <%= project["name"] %><br>
  <%= project["description"] %><br>
  <%= project["language"] %><br>
  <%= link_to 'Project', project["html_url"], { target: :_blank } %><hr>
  <% end %>
</div>
